.about{
    &__img{
        width: 100%;
        height: 100vh;
        @include background-pic;
    }
    &__block{
        min-height: 755px;
    }

    &__title{
        border-bottom: 2px solid $color-primary-base;
    }

    &__round_photo{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

.img_reg1{
  // background-image: url("@img/1au.jpg");
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: center !important;
  width: 603px !important;
  height: 285px;
}
.img_reg2 {
  // background-image: url("@img/2au.jpg");
  background-repeat: no-repeat !important;
  background-size: cover ;
  background-position: center;
  width: 285px !important;
  height: 285px;
  top: 0 !important;
}
.img_reg3 {
  // background-image: url("@img/3au.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
  width: 285px !important;
  height: 285px;
}

.img_reg4 {
  // background-image: url("@img/4au.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;

  height: 285px;
  width: 603px !important;
  left: 285px !important;
  top: 285px !important;
}
.img_reg5 {
  // background-image: url("@img/5au.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 570px !important;
  width: 285px !important;
  left: 888px !important;
  top: 0px !important;
}
.img_reg6 {
  // background-image: url("@img/6au.jpg.png");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 285px;
  width: 603px !important;
  left: 0px !important;
  top: 570px !important;
}

.img_reg7 {
  // background-image: url("@img/7au.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 285px;
  width: 285px !important;
  left: 603px !important;
  top: 570px !important;
}
.img_reg8 {
  // background-image: url("@img/8au.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 285px;
  width: 285px !important;
  left: 888px !important;
  top: 570px !important;
}
