@import "params";
@import "typography";

.footer{
    min-height: 19.813rem;
    width: 100%;
    background: $color-primary-base;
    color: $color-white;
    .line{
        width: 2px;
        height: 186px;
        margin: 0px 133px 0px 133px;
        background-color: $color-white;
        border-radius: 3px;
    }
}
