.footer{
    min-height: 19.813rem;
    width: 100%;
    background: $color-primary-base;
    color: $color-white;
    .line{
        width: 2px;
        height: 186px;
        background-color: $color-white;
        border-radius: 3px;
    }
}

form {
    background: $color-white;
    max-width: 430px;
    border:none;
    padding:2px;
}

input {
    max-width: 390px;
    padding: 10px 0 10px 15px;
    flex-grow:2;
    border:none;
    &:focus{
        outline: none;
    }
}
  
