.navbar{
    min-height: 6.25rem;
    background: rgba(0, 0, 0, 0.253);
    .nav-link{
        color: $color-white;
        font-size: $font-size-base;
        font-weight: $font-weight-light;
        &:hover{
            color: $color-primary-base;
            border-bottom: 1px solid  $color-primary-base ;
        }
    }
}

