@mixin make-heading(
  $desktop,
  $tablet,
  $mobile,
  $line-height,
  $font-weight: 700
) {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: $font-primary;
  font-weight: $font-weight;
  font-size: #{$mobile};
  line-height: #{$line-height};
  @media (min-width: $breakpoint-md) {
    font-size: #{$tablet};
  }
  @media (min-width: $breakpoint-xl) {
    font-size: #{$desktop};
  }
}

h1,
.h1 {
  @include make-heading(
    $font-size-xxxl,
    $font-size-xxl,
    $font-size-md,
    $line-height-base
  );
}
h2,
.h2 {
  @include make-heading(
    $font-size-xxl,
    $font-size-xl,
    $font-size-m,
    $line-height-base
  );
}
h3,
.h3 {
  @include make-heading(
    $font-size-xl,
    $font-size-l,
    $font-size-sm,
    $line-height-sm,
    $font-weight-light
  );
}
h4,
.h4 {
  @include make-heading(
    $font-size-l,
    $font-size-m,
    $font-size-xs,
    $line-height-sm
  );
}
h5,
.h5 {
  @include make-heading(
    $font-size-m,
    $font-size-m,
    $font-size-xs,
    $line-height-sm
  );
}
h6,
.h6 {
  @include make-heading(
    $font-size-sm,
    $font-size-sm,
    $font-size-base,
    $line-height-sm
  );
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.zero_margin {
  margin: 0;
}

.upper {
  text-transform: uppercase;
}

.title {
  font-size: $font-size-md; //30px
  color: $color-white;
  font-weight: $font-weight-title;

  &__alt {
    max-width: 560px;
    padding: 1.563rem 1.125rem;
    text-align: center;
    border: 2px solid $color-white;
  }

  &_price{
    font-size: 1.25rem;
    color: $color-neutral-bg;
  }
}

.base-font {
  font-size: $font-size-mobile; //14-15px

  &__neutral_text {
    color: $color-neutral-text;
  }

  &__white_text {
    color: $color-white;
  }

  &__bold {
    font-weight: $font-weight-title; 
  }

  &__alt{
    color: $color-primary-base; //orange
  }
}

.small_font{
  font-size: $font-size-mobile-xs;
  &__price{
    font-size: 0.75rem;
    color: $color-neutral-bg;
    font-weight: $font-weight-title;
  }

}



