@import "params";
@import "typography";
@import "navbar";
@import "footer";

body{
    background-color: $color-primary-dark;
}

.ho{
    background-image: url("@img/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;  
}

