@import 'params';
@import 'mixins';
@import 'typography';
@import 'navbar';
@import 'footer';

body {
  background-color: $color-primary-dark;
}

.container {
  max-width: 1140px;
}

header {
  height: 100vh;
  background-image: url('@img/home_bg.jpg');
  @include background-pic;
  background-attachment: fixed;
}

.home {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 96px;
  line-height: 112px;
  letter-spacing: 0.05em;
  color: $color-white;
  &_title {
    height: 100vh;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    align-items: center;
    justify-content: center;
  }
}

.img {
  width: 100%;
  min-height: 23.75rem;
  margin-top: 100px;
  background-image: url('@img/terms.png');
  background-repeat: no-repeat;
}
